nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}
.icon{
    color: rgb(18, 18, 160);
    font-size: 50px;
    margin-right: 10px;
}
.btn-regular{
    background-color: rgb(18, 18, 160);
    color: white;
    font-weight: bold;
}