.bg-img{
    background-image: url("../../images/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6364.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}
.bg{
    background-color: rgb(2, 2, 61);
}
.hr{
    border-top: 3px solid white;
    width: 70px;
}
.call-icon{
    border-right: 2px solid white;
    height: 70px;
    padding-top: 10px;
}
body{
    overflow-x: hidden;
}
